@model WebBanHangOnline.Models.EF.ProductCategory
@{
    ViewBag.Title = "Cập nhật danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Chỉnh sửa danh mục</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "ProductCategory", FormMethod.Post, new { }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.CreatedDate)
                            <!-- your steps content here -->
                            <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tiêu đề</label>
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                    @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Ảnh</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @Html.TextBoxFor(x => x.Icon, new { @id = "txtImage", @class = "form-control" })
                                        </div>
                                        <div class="input-group-append">
                                            <input type="button" value="Tải ảnh" onclick="BrowseServer('txtImage');" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Alias</label>
                                    @Html.TextBoxFor(x => x.Alias, new { @class = "form-control", @placeholder = "Alias" })
                                    @Html.ValidationMessageFor(x => x.Alias, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Seo title</label>
                                    @Html.TextAreaFor(x => x.SeoTitle, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">SeoDescription</label>
                                    @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">SeoKeywords</label>
                                    @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control" })
                                </div>
                                <div class="form-group">

                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                    <a href="/Admin/ProductCategory" class="btn btn-danger">Quay lại</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
</div>
<!-- /.content -->

@section  scripts{
    <script>
          $(document).ready(function () {
              CKEDITOR.replace('txtDetail', {
                  customConfig: '/content/ckeditor/config.js',
                  extraAllowedContent: 'span',
              });
          });
          function BrowseServer(field) {
              var finder = new CKFinder();
              finder.selectActionFunction = function (fileUrl) {
                  document.getElementById(field).value = fileUrl;
              };
              finder.popup();
          }

    </script>
}